version: 2.1

parameters:
  slack-mentions:
    type: string
    default: 'S01JP5A3ACQ'
  only_for_branches:
    type: string
    default: 'main'

orbs:
  slack: circleci/slack@3.4.2

executors:
  brew-exec:
    docker:
      - image: homebrew/brew:latest

jobs:
  audit:
    executor: brew-exec
    steps:
      - checkout
      - run: make lint-cli
  update:
    executor: brew-exec
    steps:
      - checkout
      - run: make update-cli-version

workflows:
  version: 2
  update-formula:
    jobs:
      - audit
      - update
