version: 2.1

parameters:
  slack-mentions:
    type: string
    default: 'S01JP5A3ACQ'
  only_for_branches:
    type: string
    default: 'main'

orbs:
  slack: circleci/slack@3.4.2

executors:
  brew-exec:
    docker:
      - image: homebrew/brew:latest

jobs:
  audit:
    executor: brew-exec
    steps:
      - checkout
      - run: make lint-cli
  update:
    executor: brew-exec
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "78:88:2e:20:f7:a3:2c:72:c1:02:30:39:14:c3:00:f7"
      - run: make update-cli-version
  test:
    executor: brew-exec
    steps:
      - checkout
      - run: make install-cli-from-source
      - run: make test
      - slack/status:
          fail_only: true
          mentions: << pipeline.parameters.slack-mentions >>
          only_for_branches: <<pipeline.parameters.only_for_branches>>

workflows:
  version: 2
  audit-formula:
    jobs:
      - audit
      - test
